# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.env/

# Data files (Don't upload your business data to GitHub!)
*.csv
*.xlsx

# Streamlit specific
.streamlit/secrets.toml
